
<div class="container my-5">
    <h3 class="text-center text-danger mb-4 border-bottom pb-2">पदाधिकारी</h3>
    <div class="table-responsive">
      <table class="table table-bordered table-striped">
        <thead class="table-light text-center">
          <tr>
            <th>Member Name</th>
            <th>Designation</th>
            <th>Email</th>
            <th>Address</th>
            <th>Phone Number</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>श्री. भगवान रामजी तळवे</td>
            <td>कृषी विभाग पंचायत समिती बुलडाणा</td>
            <td>bhagwanlawangegmail.com</td>
            <td>पंचायत समिती, बुलडाणा</td>
            <td>9404711155</td>
          </tr>
          <tr>
            <td>श्री. संदीप रघुनाथ सोनुने</td>
            <td>कृषी अधिकारी (सामान्य)</td>
            <td>-</td>
            <td>पंचायत समिती, बुलडाणा</td>
            <td>-</td>
          </tr>
          <tr>
            <td>श्री. मोहन रामचंद्र जिने</td>
            <td>शाखा अभियंता</td>
            <td>-</td>
            <td>पंचायत समिती, बुलडाणा</td>
            <td>-</td>
          </tr>
          <tr>
            <td>श्री. अरविंद गंगाधरराव टेंगळे</td>
            <td>विस्तार अधिकारी पंचायत</td>
            <td>-</td>
            <td>पंचायत समिती, बुलडाणा</td>
            <td>-</td>
          </tr>
          <tr>
            <td>श्री. मक्कूर रामराव गवळे</td>
            <td>विस्तार अधिकारी पंचायत</td>
            <td>-</td>
            <td>पंचायत समिती, बुलडाणा</td>
            <td>-</td>
          </tr>
          <tr>
            <td>श्री. अनंत नारायण जाधव</td>
            <td>विस्तार अधिकारी कृषी</td>
            <td>-</td>
            <td>पंचायत समिती, बुलडाणा</td>
            <td>-</td>
          </tr>
          <tr>
            <td>श्री. स्वप्नील किशोर बालेकर</td>
            <td>विस्तार अधिकारी कृषी</td>
            <td>-</td>
            <td>पंचायत समिती, बुलडाणा</td>
            <td>-</td>
          </tr>
          <tr>
            <td>सौ. व्ही ए ठाक्कर</td>
            <td>विस्तार अधिकारी शिक्षण</td>
            <td>-</td>
            <td>पंचायत समिती, बुलडाणा</td>
            <td>-</td>
          </tr>
          <tr>
            <td>सौ. एम एम भेमने</td>
            <td>विस्तार अधिकारी शिक्षण</td>
            <td>-</td>
            <td>पंचायत समिती, बुलडाणा</td>
            <td>-</td>
          </tr>
          <tr>
            <td>श्री. के. एस. ओटे</td>
            <td>विस्तार अधिकारी शिक्षण</td>
            <td>-</td>
            <td>पंचायत समिती, बुलडाणा</td>
            <td>-</td>
          </tr>
          <tr>
            <td>एस आर गायकवाड</td>
            <td>विस्तार अधिकारी सांख्यिकी</td>
            <td>-</td>
            <td>पंचायत समिती, बुलडाणा</td>
            <td>-</td>
          </tr>
          <tr>
            <td>सी. जी. चव्हाण</td>
            <td>विस्तार अधिकारी आरोग्य</td>
            <td>-</td>
            <td>पंचायत समिती, बुलडाणा</td>
            <td>-</td>
          </tr>
          <tr>
            <td>श्री. सुनीत भास्कर इंगळे</td>
            <td>सहायक प्रशासन अधिकारी</td>
            <td>-</td>
            <td>पंचायत समिती, बुलडाणा</td>
            <td>-</td>
          </tr>
          <tr>
            <td>श्री. जयदीप श्यामराव ताटे</td>
            <td>कनिष्ठ प्रशासन अधिकारी</td>
            <td>-</td>
            <td>पंचायत समिती, बुलडाणा</td>
            <td>-</td>
          </tr>
          <tr>
            <td>सौ. के पी तहुळ</td>
            <td>सहायक लेखाधिकारी</td>
            <td>-</td>
            <td>पंचायत समिती, बुलडाणा</td>
            <td>-</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
  <app-footer></app-footer>