<p>footer works!</p>
<footer class="bg-dark text-white pt-5 pb-3">
    <div class="container">
      <div class="row">
        <!-- Panchayat Samiti Info -->
        <div class="col-md-3 mb-3">
          <h5>Panchayat Samiti</h5>
          <p><a href="#" class="text-white text-decoration-none d-block">Buldhana Panchayat Samiti, Taluka Buldhana</a></p>
          <p><a href="#" class="text-white text-decoration-none d-block">District Buldhana, Maharashtra.</a></p>
          <p><a href="#" class="text-white text-decoration-none d-block">We are working as a local self-government institution for rural development.</a></p>
        </div>
  
        <!-- Useful Links -->
        <div class="col-md-3 mb-3">
          <h5>Useful Links</h5>
          <ul class="list-unstyled">
            <li><a href="#" class="text-white text-decoration-none">Buldhana District</a></li>
            <li><a href="#" class="text-white text-decoration-none">Maharashtra Government</a></li>
            <li><a href="#" class="text-white text-decoration-none">Government of India</a></li>
            <li><a href="#" class="text-white text-decoration-none">Zilla Parishad Buldhana</a></li>
          </ul>
        </div>
  
        <!-- Quick Services -->
        <div class="col-md-3 mb-3">
          <h5>Quick Services</h5>
          <ul class="list-unstyled">
            <li><a href="#" class="text-white text-decoration-none">Citizen Services</a></li>
            <li><a href="#" class="text-white text-decoration-none">View Tenders</a></li>
            <li><a href="#" class="text-white text-decoration-none">Notice Board</a></li>
          </ul>
        </div>
  
        <!-- Contact Info -->
        <div class="col-md-3 mb-3">
          <h5>Contact Us</h5>
          <p><a href="#" class="text-white text-decoration-none">पंचायत समिती बुलडाणा</a></p>
          <p><a href="#" class="text-white text-decoration-none">बुलडाणा, बुलडाणा - 443001</a></p>
          <p><a href="tel:07262297384" class="text-white text-decoration-none">दूरध्वनी: 07262-297384</a></p>
          <p><a href="mailto:eopbuldana@gmail.com" class="text-white text-decoration-none">ईमेल: eopbuldanaail.com</a></p>
          <!-- Social Media Icons -->
          <div class="mt-2">
            <a href="#" class="text-white me-2"><i class="fab fa-facebook-f"></i></a>
            <a href="#" class="text-white me-2"><i class="fab fa-twitter"></i></a>
            <a href="#" class="text-white"><i class="fab fa-youtube"></i></a>
          </div>
        </div>
      </div>
  
      <div class="text-center border-top pt-3 mt-3">
        <small>©2025 पंचायत समिती बुलडाणा. सर्व हक्क राखीव. <a href="#" class="text-white text-decoration-none">CODEROLE TECHNOLOGY द्वारा विकसित</a></small>
      </div>
    </div>
  </footer>
  