<!-- Top Header -->
<div class="bg-light p-2 d-flex justify-content-between align-items-center">
  <div class="d-flex align-items-center">
    <img src="../assets/images/govlogo.png" alt="Emblem" height="50" class="me-2" />
    <div>
      <h5 class="mb-0 fw-bold">Panchayat Samiti Washi</h5>
      <small class="text-muted">Panchayat Samiti Washi</small>
    </div>
  </div>

  <div class="d-flex align-items-center">
    <button class="btn btn-outline-primary btn-sm me-1">A+</button>
    <button class="btn btn-outline-primary btn-sm me-1">A</button>
    <button class="btn btn-outline-primary btn-sm me-2">A−</button>

    <select class="form-select form-select-sm w-auto">
      <option selected>English</option>
      <option value="hi">हिंदी</option>
      <option value="mr">मराठी</option>
    </select>
  </div>
</div>

<!-- Blue Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#mainNavbar"
      aria-controls="mainNavbar"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="mainNavbar">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/gallery">Gallery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about-citizens">About Citizens</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/members">Office Bearer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/schemes">Government Schemes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about-us">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/officers">Officers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/reports">Reports</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login">Panchayat Login</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


<router-outlet></router-outlet>
